@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Noticia+Text:wght@700&display=swap');

body {
    background-color: #07BEB8;
    color:  #364652;
    margin: 0;
    overflow-x: hidden;
}


h1, h2, h3 {
    font-family: 'Noticia Text', serif;
    margin-left: 5%;
    
}

h1{
    font-size: 2.5em;
    margin-top: 5%;
}

h1::after, h1::before {
    content: "";
    position: absolute;
    top: -2em;
    width: 0;
    height: 0;  
    
}

h1::after {
    left: 56vw; 
    border-top: 44vw solid #FFA69E;
    border-left: 44vw solid transparent;
}

h1::before {
    left: 55vw;
    border-top: 45vw solid white;
    border-left: 45vw solid transparent;
}

ol, p, h4, ul{
    font-family: 'Cuprum', sans-serif;
    font-size: 150%;
    margin-left: 5%;
}

h4 {
    font-size: 125%;
}

ol {
    list-style-type: none;
}

li {
  padding: .15em;  
  
}

a {
    color:  #364652;
}

a:hover {
    color: white;
}

.firstParagraph {
    margin-right: 20%;
}